<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Number Plate Recognition</title>
	<link href="../static/styles.css" rel="stylesheet" />
</head>
<body>
	<h1>Number Plate Recognition</h1>
	<div id="app">
		<form action="{{ url_for('result') }}" method="post" enctype="multipart/form-data">
			<label for="image">Upload an image of a car:</label>
			<label for="image" class="upload-button">Choose file</label>
			<input type="file" name="file" id="image" accept="image/*" required>
			<img src="#" alt="Image preview" class="image-preview">
			<div class="loading-icon">🔄</div>
			<button type="submit" class="upload-button" id="submitbtn">Submit</button>
		</form>
		<p id="madewithlove">Made with ❤️ by Suyamoon & Pranav</p>
	</div>
	
	<link rel="stylesheet" type="text/css" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
	

	<script>
        const fileInput = document.getElementById("image");
        const uploadButton = document.querySelector(".upload-button");
        const imagePreview = document.querySelector(".image-preview");
        const loadingIcon = document.querySelector(".loading-icon");
        const submitButton = document.getElementById("submitbtn")
    
        fileInput.addEventListener("change", function() {
            const file = this.files[0];
            if (file) {
                uploadButton.innerText = file.name;
                imagePreview.style.display = "block";
                loadingIcon.style.display = "block";
                const reader = new FileReader();
                reader.onload = function() {
                    imagePreview.src = reader.result;
                    loadingIcon.style.display = "none";
                }
                reader.readAsDataURL(file);
            } else {
                uploadButton.innerText = "Choose file";
                imagePreview.style.display = "none";
            }
        });

        submitButton.onclick = function() {submitButton.innerHTML='Loading...  <span class="loader"></span>'};

    </script>
</body>
</html>    
